<div class="modal-header">
    <h5 class="modal-title" id="deleteModalLabel">Delete Schedule</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    Are you sure you want to delete the schedule for {{ technician.name }} for {{ month_name }} {{ year }}?
</div>
<div class="modal-footer">
    <form id="delete-schedule-form" action="{% url 'delete_schedule' technician.emp_id month year %}" method="post" hx-target="#schedule-list" hx-swap="outerHTML" hx-confirm="Are you sure?">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
